.questionnaire > .MuiSnackbar-root {
  top: 5% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  align-items: flex-start !important;
  height: fit-content;
  width: 80%;
}
.questionnaireBox {
  padding: 24px;
}
